

table {
    /*width: 100%;  Ensure the table takes the full width of the container */
    /* height: 100%; */
    border-collapse: collapse; /* Remove default table borders */
    /*margin-bottom: 80px;  Add spacing between the table and other elements*/

    /*max-width: 950px;  Adjust the maximum width as needed */
      margin: 0 auto;/*Center the container horizontally */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    min-height: 600px;
    padding: 20px; /* Add padding for spacing */
    background-color: #fff; /* Set a background color if needed */
    border-radius: 8px; /* Add rounded corners if desired */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    position: relative;
    overflow:auto;
}

.table-container table{
    margin-bottom: 150px;
    /* display: block; */
    /* position: relative; */
    /* margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    
}
/* tbody .td{
    font-size: 30px;
} */

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}
tbody td p {
    
    /* font-style: oblique; */
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold;
    color: #333; 
    /* margin-right: 60px; */
}

i{
    /* font-size: 40px;  */
    margin-right: 20px;
}
/* 
tr {
    border-bottom: 5px solid #333;
} */
tfoot td p {
    font-size: 40px; 
    font-weight: bold;
    text-align: center
}

.clickable-cell h3{
    font-size: 25px;
}


tbody td {
    text-align: center; /* Center align the content in all td elements within tbody */
    /* Add any other styling properties if necessary */
    
}
tbody td p {
    font-size: 30px; 
}